*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  scrollbar-width: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea {
  outline: none;
}

input:focus {
  outline: none;
}

button {
  all: unset;
  border: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
}
