@import "./mixins";

.theme-menu-container {
  @include transition(0.2s, $property: background-color);
  position: fixed;
  top: 25px;
  left: 20px;

  background-color: var(--backgroud-interface);
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--border-color-interface);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  button {
    @include transition(0.2s);
    padding: 7px;
    background-color: var(--second-backgroud-interface);
    color: var(--text-third-color);
    border: 1px solid var(--border-color-interface);

    border-radius: 15px;
    font-weight: 700;
    font-size: 20px;

    &.active {
      border-width: 4px;
    }
  }
}
